$apprasial_text_size:36px;
$apprasial_text_lineHeight:60px;
$apprasial_h1_size:40px;
$apprasial_btn_active_bg:#212832;
$apprasial_btn_active_color:#fff;
$apprasial_home_div_bg1:#4d535d;
$apprasial_home_div_bg2:#3d4350;